@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
    
} 

.button {
    display: inline-block;
    padding: 3px 5px;
    color: coral; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    
  }

  /* Hover effect */
  .button:hover {
    background-color: coral;
    color: navy;
  }